
#backImg1{
    position:fixed;
    left:900px;
    z-index: -2;
    background-size: 100% 100%;
    background-color: #7fffb2;
}
.grid-container {
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: 100px 300px;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    border:3px solid darkolivegreen;
}
.grid-item-content{
    position: relative;
    width: auto;
    height:auto;
    padding-left: 100px;
    overflow: hidden;
    font-family: 方正舒体;
    color:black;
    font-size: 22px;
    line-height: 36px;
}
.grid_container {
    display: grid;
    grid-template-columns: 500px 550px auto;
    grid-template-rows: auto auto auto;
    grid-column-gap:6px;
    height: 100%;
    width: 100%;
    border:3px solid darkolivegreen;
    grid-template-areas:
                    "a b e"
                    "c d e"
                    "g h e"
                    "i j e"
                    "k l e"
}
.grid_item>img{
    border:4px solid darkolivegreen;
}

.grid_item div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 10px solid darkolivegreen;
}

h2{
    text-indent:2em;
    overflow: hidden;
    line-height: 50px;
    letter-spacing: 5px;
    height: 359px;
    writing-mode: vertical-lr;

}

